<%= form_with model: [@order_client, @rejected_order], local: true, 
              class: 'col-6 text-center' do |f| %>
  <div class="form-group">
    <%= f.label :reason %></label>
    <%= f.text_area :reason, class: 'form-control' %>
  </div>

  <br/>

  <button type="submit" class="btn btn-dark company">Enviar</button>
<% end %>
