<p class="link-back">
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
  <%= link_to 'Voltar', order_clients_path %>
</p>

<section class="d-flex justify-content-center">
  <%= render 'form' %>
</section>
