<div class="down-menu">
  <div class="img-menu">
    <%= image_tag("undraw_online_messaging.png", size: "400x400", alt: "")%>
  </div>
  <div class="down-menu-text">
    <h1>Conheça os melhores <strong>ChatBots</strong> do mercado</h1>
    <br/>
    <a href="#go_to_plans" class="go_to_plans">Ver Planos</a>
  </div>
</div>

<div class="down-menu">
  <div class="down-menu-text">
    <h1>Temos planos perfeitos para a <strong>sua empresa</strong></h1>
  </div>
  <div class="img-menu">
    <%= image_tag("undraw_file_analysis.png", size: "400x400", alt: "")%>
  </div>
</div>
<%= render partial: 'plans/plans', locals: { plans: @plans } %>
