<% if @orders.empty? %>
  <p class="msg-error"><%= 'Nenhum pedido cadastrado' %></p>
<% end %>

<% @orders.each do |order| %>
	<dl>
		<dt>Token da Empresa: </dt>
		<dd><%= order.token %></dd>
		<dt>Plano: </dt>
		<dd><%= order.plan %></dd>
		<%= link_to 'Aprovar Pedido', new_aproved_path %>
	</dl>
<% end %>
