<div class="text-center company">
    <h1><strong>Minha conta</strong></h1>
</div>

<% @company.errors.full_messages.each do |message| %>
  <div class="alert alert-danger company" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= message %>
  </div>
<% end %>
