.container {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 7rem;dsd
	padding: 0 2rem;
}

.h2-login {
	color: pink;
}
/*Onda lateral verde*/
.wave {
	position: fixed;
	height: 100%;
	left: 0;
	bottom: 0;
	z-index: -1;
}
