/*Edit/New Company*/
.form-group.company {
  width: 400px;
  margin: auto;
  margin-bottom: 5%;
}

/*Mensagens de erro*/
.alert.alert-danger.company {
  width: 500px;
  margin: auto;
  margin-top: .5%;
  margin-bottom: 1%;
}

/*Minha conta*/
.text-center.company {
  margin: 4%;
}

.form-control input {
  border: none;
  outline: none;
  background: none;
}

/*Submit Company*/
.btn.btn-dark.company {
  width: 100%;
}

/*Submit Promo*/
.btn.btn-dark.promo {
  width: 200px;
}

/*Cadastro de promoções*/

/*Campos para numberos*/
.form-control.field-number {
  width: 260px;
} 

/*Campos para data*/
.form-control.field-date {
  width: 200px;
} 

/*Mobile*/
@media screen and (max-width: 600px) {
  /*Mensagens de erro*/
  .alert.alert-danger.company {
    width: 350px;
    text-align: center;
  }
}
